<form action='welcomeuser' method='POST'>
    {% csrf_token %}
<h1>Sign Up:</h1>
 firstname:<input type='text' name='first_name'><br>
 lastname:<input type='text' name='last_name'><br>
 username:<input type='text' name='username'><br>
 email:<input type='email' name='email'><br>
 password:<input type='password' name='password'><br>
 confirm password:<input type='password' name='confirmpassword'><br>
<br>
<input type='Submit'>
</form>
<div>
    {% for msg in messages %}
    <h3>{{msg}}</h3>
    {% endfor %}

</div>